body {
    background-color:#3686be;
    
    background-color:#c8c8c8;
    color:#FFF;
    color:black;
}

.bit-smaller {
    font-size: 80%;
}

.padding_foot {
    padding-bottom: 10%;
}

.secrect-color{
  color:#c8c8c8;
}