body {

    background-color:#4d4d4d;
    color:white;
}

.bit-smaller {
    font-size: 80%;
}

.padding_foot {
    padding-bottom: 10%;
}

.secrect-color{
  color:#c8c8c8;
}




 /* unvisited link */
a:link {
    color:#eaa7a7;
}

/* visited link */
a:visited {
    color:#eaa7a7;
}

/* mouse over link */
a:hover {
    color:#c0f49d;
}

/* selected link */
a:active {
    color:#eaa7a7;
} 